<%- include("../includes/header") %>
<%- include("../includes/navbar") %>
<body>
   <table>
    <thead>
      <tr><th></th></tr>
    </thead>
   </table>

  <%- include("../includes/footer") %>
</body>
