<%- include("../includes/header") %>

  <body>
<%- include("../includes/navbar") %>
    
    <form align="center" method="post">
      <h1>Admin Registeration Form</h1>
      <div>
        <label for="aname">Enter FullName</label>
        <input type="text" name="aname" />
      </div>
      <div>
        <label for="aemail">Enter email</label>
        <input type="email" name="aemail"/>
      </div>
      <div>
        <label for="apassword">Enter Password</label>
        <input type="password" name="apassword"/>
      </div>
      <button>Submit</button>
    </form>
    <div>already registered <a href="/api/admin/login">login from here</a></div>
  </body>
</html>
