<%- include("./includes/header") %>


<body>
  <center>
    <h1>Select the role to login:</h1>

    <form method="get" action="/api/admin/login">
      <button>As Admin</button>
    </form>
    <form method="get" action="/api/user/login">
      <button>As User</button>
    </form>
  </center>
</body>
</html>