<%- include("../includes/header") %>
<body>
  <%- include("navbar") %>
  <center>
    <h1>User's home page</h1>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="3"><center>Product Details</center></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Code No. From</th>
          <th>Code No. To</th>
          <th>Category</th>
        </tr>
      </tbody>
    </table>
    <%- include("../includes/footer") %>
  </center>
</body>
